.daily-timeblock {
  border-radius: 5px;
  width: 40%;
  margin-left: 5%;
}

.daily-timeblock-controls {
  border-bottom: 1px solid var(--font-color);
  width: 96%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.daily-timeblock-section-label {
  color: var(--font-color);
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.daily-timeblock-settings-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.daily-timeblock-settings-button * {
  fill: var(--highlight-color);
}

.settings-svg-div:hover path {
  fill: var(--font-color);
}

.create-timeblock-button {
  width: 100px;
  height: 50px;
}

.daily-timeblock-array {
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 1rem 0rem 0rem 3rem;
}

.timeblock-paragraph-time {
  display: inline;
  margin: 0;
  font-size: 12px;
  position: relative;
  top: -12px;
  left: -42px;
  color: #808995;
}

.timeblock-information {
  display: inline;
}

.timeblock-paragraph-name {
  color: var(--font-color) !important;
  font-weight: bold;
  display: inline;
  margin: 0;
  font-size: 12px !important;
}

.timeblock-button {
  cursor: pointer;
  background: transparent;
  font-size: 99%;
  border: none;
}

.color {
  margin-right: 10px;
  padding-left: 0;
}

.color-select {
  margin-top: -0.325rem;
  vertical-align: middle;

  padding-left: 0.5rem;
  display: inline-flex;
}

.color-select-option {
  vertical-align: middle;
  border: 1px white solid;
  cursor: pointer;
  width: 1rem;
  margin-right: 0.5rem;
  font-size: 10px;
}

.color-select-option span {
  vertical-align: middle;
  visibility: hidden;
}

.rust {
  background-color: #6c2323;
}

.gray {
  background-color: #243040;
}

.blue {
  background-color: #23406c;
}

.green {
  background-color: #304024;
}

.goldenrod {
  background-color: #a07316;
}

.timeblock-button svg {
  fill-opacity: 70%;
  fill: var(--font-color);
}

.timeblock-button svg:hover {
  fill-opacity: 100%;
}

.edit-name-input {
  color: var(--font-color);
  font-weight: bold;
  font-size: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: var(--background-color);
}

.daily-timeblock-period-15 {
  cursor: pointer;
  border-top: 1px dashed #465160;
  margin-right: 5%;
  transition: background-color 0.2s ease;
}

.daily-timeblock-period-15:not(.scheduled):hover {
  /* border-top: 1px solid var(--highlight-color); */
  background-color: #243040;
}

.timeblock-paragraph-time {
  font-size: 75%;
}

.bold {
  border-top: 1px solid #465160;
}

.bold p {
  color: var(--highlight-color);
  font-size: 85%;
  top: -11px;
}

.selected {
  /* border-top: 1px solid var(--highlight-color); */
  /* background-color: #465160; */
  /* background-color: #243040; */
  cursor: unset;
}
