.daily-timeblock {
  border-radius: 5px;
  width: 40%;
  margin-left: 5%;
}

.create-timeblock-button {
  width: 100px;
  height: 50px;
}

.daily-timeblock-array {
  margin-top: 1rem;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 1rem 0rem 0rem 3rem;
}

.timeblock-paragraph-time {
  display: inline;
  margin: 0;
  font-size: 12px;
  position: relative;
  top: -12px;
  left: -42px;
  color: #808995;
}

.timeblock-information {
  display: inline;
}

.timeblock-paragraph-name {
  color: var(--font-color);
  display: inline;
  margin: 0;
  font-size: 12px;
}

.timeblock-button {
  background: transparent;
  font-size: 99%;
  border: none;
  margin-right: 5px;
}

.timeblock-button svg {
  fill-opacity: 70%;
  fill: var(--font-color);
}

.timeblock-button svg:hover {
  fill-opacity: 100%;
}

.edit-name-input {
  font-size: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: var(--background-color);
}

.daily-timeblock-period-15 {
  cursor: pointer;
  border-top: 1px dashed #465160; 
  margin-right: 5%;
  transition: background-color 0.2s ease;
}

.daily-timeblock-period-15:hover {
  /* border-top: 1px solid var(--highlight-color); */
  background-color: #243040;
}

.timeblock-paragraph-time {
  font-size: 80%;
}

.bold {
  border-top: 1px solid #465160;
}

.bold p {
  font-size: 85%;
  color: var(--highlight-color);
}

.selected {
  /* border-top: 1px solid var(--highlight-color); */
  /* background-color: #465160; */
  background-color: #243040;
  cursor:unset;
}
