.samurise-brand {
  color: var(--highlight-color);
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  display: inline-flex;
  justify-content: right;
  width: 80%;
}

.navbar-item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

.navbar-item a {
  text-decoration: none;
  color: #edf2f4;
}

.navbar-item a:hover {
  text-decoration: underline;
  transition: text-decoration 3s ease;
}
