.pomodoro-timer * {
  margin: 0;
}

.pomodoro-timer {
  margin-top: 1.7%;
  border-radius: 5px;
  background-color: transparent;
}

.pomodoro-section-label {
  color: var(--font-color);
  font-size: 1.3rem;
  border-bottom: 1px solid var(--font-color);
  margin: 0 0% 1% 0;
  font-weight: bold;
}

.total-time-tracker {
  display: inline-block;
}

.timer-select {
  cursor: pointer;
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);;
  font-size: 1.5rem;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: transparent;
}

.timer-select:hover {
  color: white;
  border-color: white;
}

.counting:hover {
  cursor: unset;
  color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.timer {
  display: flex;
}

.begin-button {
  color: var(--highlight-color);
  background-color: transparent;
  border: 2px solid var(--highlight-color);
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  cursor:pointer;
}

.begin-button:hover {
  color: white;
  border-color: white;
}

.daily-stats {
  margin-left: auto;
  color: var(--font-color);
}
