.pomodoro-timer * {
  margin: 0;
}

.pomodoro-timer {
  margin-top: 6%;
  border-radius: 5px;
  padding: 1rem;
  border: 1px white solid;
}

.pomodoro-section-label {
  text-align: center;
  color: var(--font-color);
  font-size: 1.3rem;
  border-bottom: 1px solid var(--font-color);
  font-weight: bold;
}

.total-time-tracker {
  display: inline-block;
}

.timer-select {
  cursor: pointer;
  color: var(--highlight-color);
  border: 2px solid var(--highlight-color);;
  font-size: 1.5rem;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: transparent;
}

.timer-select:hover {
  color: white;
  border-color: white;
}

.counting:hover {
  cursor: unset;
  color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.timer {
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.begin-button {
  color: var(--highlight-color);
  background-color: transparent;
  border: 2px solid var(--highlight-color);
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 0.5rem;
  cursor:pointer;
}

.begin-button:hover {
  color: white;
  border-color: white;
}

.daily-stats {
  margin-left: auto;
  color: var(--font-color);
}

.goal-tracker {
  padding: 1rem;
  margin-top: 0.5rem;
  color: var(--font-color);
}

.goal-item {
  margin-bottom: 0.5rem;
}

.daily-goal {
  font-weight: bold;
  text-decoration: underline;
}

.banked-today-figure {
  color: green;
  font-weight: bold;
}

.banked-yesterday-figure {
  color: red;
  font-weight: bold;
}
