.pomodoro-timer * {
  margin: 0;
}

.pomodoro-timer {
  padding: 2%;

  margin-top: 2.5%;
  border-radius: 5px;
  background-color: crimson;
  height: 15%;
}

.pomodoro-section-label {
  display: inline-block;
  margin: 0 10% 1% 0;
  font-weight: bold;
}

.total-time-tracker {
  display: inline-block;
}

.timer-select {
  color: antiquewhite;
  border: 2px solid antiquewhite;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: transparent;
  padding: 0.7rem;
}

.timer-select:hover {
  color: white;
  border-color: white;
}

.counting {
  padding-right: 1.85rem;
}

.timer {
  display: flex;
  height: 55%;
}

.begin-button {
  color: antiquewhite;
  background-color: transparent;
  border: 2px solid antiquewhite;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 8rem;
  position: fixed;
  height: 5.73%;
}

.begin-button:hover {
  color: white;
  border-color: white;
}
