.tasklist-section {
  font-weight: bold;
  padding: 1%;
  margin-top: 2.5%;
  background-color: burlywood;
  border-radius: 5px;
}

.tasklist-section-label {
  text-align: center;
}

.tasklist-item {
  cursor: pointer;
  margin-bottom: 1rem;
}

.tasklist-item span {
    display: inline;
}

.tasklist-item span:hover {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

.complete {
  text-decoration-color: red;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.add-taskitem-button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 1rem;
  opacity: 50%;
  cursor: pointer;
  border: none;
}

.add-taskitem-button:hover {
    opacity: 100%;
}
