* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: cadetblue;
  width: 80%;
  margin-left: 10%;
}

.samurise-dashboard {
  display: flex;
  height: 738px; /*specific height is required to stop element resizing when timeblock planner is lengthened or shortened */
}

.left-page {
  display: contents;
}

.right-page {
  padding-top: 1.5%;
  width: 40%;
  margin-left: 2.5%;
}

.habit-tracker {
  font-weight: bold;
  margin-top: 2.5%;
  background-color: green;
  padding: 1%;
  border-radius: 5px;
  height: 10%;
}

